<footer class="navbar navbar-fixed-bottom">
  <div class="container deco-none">
    <%= link_to new_post_path do %>
      <h1><span class="glyphicon glyphicon-plus pull-right edit-links"></span></h1>
    <% end %>
  </div>
</footer>
